.activities-container-table{
    width: 90%;
    margin: 20px;       
    border: 2px solid;
    border-radius: 2rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    
}

.activities-table-title{
    margin: 1rem;
    
}

.activities-table {
    margin: 1rem;
    width: 95% !important;
}

.activities-table-description:hover{
    cursor: pointer;
    color: #007bff;
}

.modal-viewActivity {
    position: absolute;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;    
    border: px solid #7691a5;
    box-shadow: 24;
    
    
}