.activities-container-table{
    width: 90%;
    margin: 20px;       
    border: 2px solid;
    border-radius: 2rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    
}

.activities-table-title{
    margin: 1rem;
    
}

.activities-table {
    margin: 1rem;
    width: 95% !important;
}

.activities-table-description:hover{
    cursor: pointer;
    color: #007bff;
}

.task-dialog {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    gap: 2rem;
    padding: 2rem;

}